<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Masters</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header class="brand-header">
      <img
        src="./coffee_masters_logo.png"
        class="brand-logo"
        alt="The Coffee Masters company Logo"
      />
      <h1>Coffee Masters</h1>
    </header>

    <div class="order-section">
      <section class="box order-details">
        <div class="box-title">ITEMS</div>
        <ul class="item-list">
          <li class="items">
            <div class="item-qty">1x</div>
            <div class="item-name">Cappucino</div>
            <div class="item-price">$6.00</div>
            <ul class="item-specs">
              <li class="item-spec">Light Foam</li>
            </ul>
          </li>
          <li class="items">
            <div class="item-qty">1x</div>
            <div class="item-name">Cappucino</div>
            <div class="item-price">$7.90</div>
            <ul class="item-specs">
              <li class="item-spec">Almond Milk</li>
              <li class="item-spec">Double Espresso Shot</li>
            </ul>
          </li>
          <li class="items">
            <div class="item-qty">1x</div>
            <div class="item-name">Croissant</div>
            <div class="item-price">$5.37</div>
            <ul class="item-specs">
              <li class="item-spec">Butter</li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="customer-details">
        <div class="box">
          <div class="box-title">NAME</div>
          <div class="input-group">
            <label for="orderName">Name for order</label>
            <input id="orderName" />
          </div>
        </div>
        <div class="box">
          <div class="box-title">PAYMENT</div>
          <div class="input-group">
            <label for="cardNumber">Card number</label>
            <input id="cardNumber" />
          </div>
          <div class="input-group">
            <label for="ccvNumber">CCV number</label>
            <input id="ccvNumber" />
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
