* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #efeeee;
}

.brand-header {
  background-color: #43281c;
  color: #fbf2c0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: normal;
}

.brand-logo {
  height: 25px;
}

.order-section {
  padding: 30px;
}

.box {
  background-color: #eee1d5;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.box-title {
  margin-top: 10px;
  color: #885a2d;
  font-size: 16px;
}

.item-list,
.item-specs {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.order-details {
  grid-area: quantity;
}

.customer-details {
  grid-area: customer;
}

.order-section {
  display: grid;
  grid-template-areas: "quantity customer";
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
}

.item-qty {
  grid-area: item-qty;
  margin-right: 8px;
}

.item-name {
  grid-area: item-name;
  font-weight: bold;
}

.item-price {
  grid-area: item-price;
  font-weight: bold;
}

.item-specs {
  grid-area: item-specs;
  color: #b18969;
  font-size: 14px;
}

.items {
  display: grid;
  grid-template-areas:
    "item-qty item-name item-price"
    ". item-specs .";
  grid-template-columns: 1fr 8fr 1fr;
  row-gap: 8px;
  border-bottom: 2px solid #ddb892;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.items:last-child {
  border-bottom: none;
}

.input-group {
  padding: 15px 0px;
  position: relative;
}

.order-input {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border: 2px solid #885a2d;
  width: 100%;
}

#ccvNumber {
  width: 200px;
}

.order-label {
  position: absolute;
  top: 10%;
  font-size: 11px;
  color: #b18969;
  background-color: #eee1d5;
  left: 25px;
  padding: 0 5px;
}

.order-table {
  margin: 0px auto;
}

.column-1 {
  padding-right: 350px;
  padding-bottom: 15px;
}

.column-2 {
  text-align: right;
}

.total-entry {
  font-weight: bold;
}
