* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #efeeee;
}

.brand-header {
  background-color: #43281c;
  color: #fbf3c1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: normal;
}

.brand-logo {
  height: 25px;
}

.order-section {
  padding: 30px;
}

.box {
  background-color: #efe1d4;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.box-title {
  margin-top: 10px;
}

.item-list,
.item-specs {
  list-style: none;
}

.order-details {
  grid-area: quantity;
}

.customer-details {
  grid-area: customer;
}

.order-section {
  display: grid;
  grid-template-areas: "quantity customer";
  column-gap: 35px;
}
