* {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.brand {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0px;
  justify-content: center;
  text-align: center;
}
