* {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.brand {
  font-family: "Snell Roundhand";
  font-weight: normal;
  font-size: 60px;
  margin: 40px 0px;
  /* justify-content: center; */
  text-align: center;
}

.navlink-container {
  display: flex;
  margin: 0px;
  padding: 20px;
  text-align: center;
  justify-content: space-around;
  list-style-type: none;
  flex-direction: row;
  border: 3px solid black;
}

.navlink {
  text-decoration: none;
  font-weight: bold;
  color: #666;
  font-size: 30px;
  font-family: "Futura";
}

.navlink:hover {
  text-decoration: underline;
}
