* {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.brand {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0px;
  justify-content: center;
  text-align: center;
}

.navlink-container {
  display: flex;
  margin: 0px;
  padding: 20px;
  text-align: center;
  justify-content: space-around;
  list-style-type: none;
  flex-direction: row;
  border: 1px solid black;
}

.navlink {
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

.navlink:hover {
  text-decoration: underline;
}
